body {
	padding-top: 60px;
	padding-bottom: 40px;
	background: url('../img/github_page.jpg') no-repeat fixed;
}
.post{
	background: rgba(255,255,255,0.95);
	padding: 0 20px;
	margin-top: -20px;
}
.post p{
	text-indent: 2em;
}
#c1{
	line-height: 1.8em;
	min-height: 500px;
}
#alipay{
	position: relative;
	top: -20px;
	left: 50px;
}
@media (max-width: 970px) {
	body{
		background: none;
	}
	#c1{
		width: 98%;
	}
	.post{
		padding: 0;
	}
	.container .span8 {
		width: 100%;
	}
}
@media (max-width: 768px){
	#alipay{
		display: block;
		position: static;
		margin-top: 5px;
	}
	body{
		padding-left: 0;
	}
	.navbar .brand{
		padding-left: 40px;
	}
}